{% extends 'base.html' %}
{% block content %}
<h1>CART</h1>
{% if cart.products.exists %}
<table class="table cart-table">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Product Name</th>
			<th scope="col">Price</th>
		</tr>
	</thead>
	<tbody class="cart-body">
		{% for product in cart.products.all %}
			<div class="cart-product">
				<tr>
					<th scope="row">{{forloop.counter}}</th>
					<td><a href="{{product.get_absolute_url}}">{{product.name}}</a>{% include "products/snippets/update-cart.html" with object=product cart=cart in_cart=True %}</td>
					<td>${{product.price}}</td>
				</tr>
			</div>
		{% endfor %}
		<tr>
			<th scope="row" colspan="2">Subtotal</th>
			<td id="cart-subtotal">${{cart.subtotal}}</td>
		</tr>
		<tr>
			<th scope="row" colspan="2">Total</th>
			<td id="cart-total">${{cart.total}}</td>
		</tr>
		<tr>
			<th scope="row" colspan="2"></th>
			<td>
				<a class="btn btn-lg btn-success" href="{% url 'cart:checkout' %}">Checkout</a>
			</td>
		</tr>

	</tbody>
</table>
{% else %}
<p class="lead">Cart is empty</p>
{% endif %}

{% endblock %}