<div class="card" style="width: 20rem;">
	{% if object.image %}
	<img src="{{object.image.url}}" alt="imagen" class="card-img-top">
	{% endif %}
	<div class="card-body">
		<h4 class="card-title">{{object.title}}</h4>
		<p class="card-text text-center">${{object.price}}</p>
		<p class="card-text">{{object.descripcion|truncatewords:12}}</p>
		<a href="{{object.get_absolute_url}}" class="btn btn-primary">Ver</a>
		{% include 'products/snippets/update-cart.html' with product=instance cart=cart %}
		<!-- <a href="{% url 'products:detail' slug=object.slug %}" class="btn btn-primary">URL shortcut</a> -->
	</div>
</div>